body {
  text-align: center;
}
#content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainImage {
  background-image: url(forest.jpg);
  width: 800px;
  height:  600px;
  position:relative;
}

#sun {
  position: absolute;
  top:0px;
  left: 0px;
  height: 100px;
  width: 100px;
}

#sun_front {
  position: absolute;
  background-image: url(sun.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#sun_back {
  position: absolute;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#castle {
  position:absolute;
  top:0px;
  left: 0px;
  height: 100px;
  width: 100px;
}

#castle_front {
  position: absolute;
  background-image: url(castle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#castle_back {
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#deer {
  position:absolute;
  top:0px;
  left: 0px;
  height: 100px;
  width: 100px;
}

#deer_front {
  background-image: url(deer.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#deer_back {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
